@import './scrollBar';

$primary-bg: #2323bb;
$secondary: rgb(113, 54, 168);

$desktop: 860px;

* {
  font-family: 'Roboto', sans-serif;
}

@mixin mobile {
  @media screen and (max-width: $desktop) {
    @content;
  }
}
@keyframes neon {
  from {
    box-shadow: 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px orange,
      0 0 10px orange, 0 0 12px orange, 0 0 14px orange, 0 0 18px orange;
  }
  to {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px orange,
      0 0 15px orange, 0 0 20px orange, 0 0 25px orange, 0 0 30px orange;
  }
}
body {
  padding: 0;
  margin: 0;
  background-color: gray;
}
.text-gray {
  color: gray;
}
.text-center {
  text-align: center;
}
.text-danger {
  color: rgb(238, 73, 31);
}
