@import "./App.scss";

.product-list__container{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ProductCard {
  margin: 30px ;
  width: 240px;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  transition: .5s;
  &:hover{
    box-shadow: 0 0 10px #c5c5c5;
  }
  .card-image {
    .card-image-wrap {
      position: relative;
      img {
        top: 10px;
        border-radius: 5px;
        margin: 0 auto;
        width: 220px;
        height: 230px;
        background-position: center;
        background-size: cover;
        transition: 0.3s ease;
        &:hover {
          opacity: 0.5;
        }
      }
      .btn-cart {
        position: absolute;
        opacity: 0;
        text-align: center;
        padding: 5px;
        width: 100px;
        border: 2px solid orange;
        cursor: pointer;
        color: orange;
        bottom: 0;
        left: 50%;
        border-radius: 9999px;
        transform: translate(-50%, -50%);
        transition: 0.5s ease;
        background: rgba(0, 0, 0, 0.523);
        &.active {
          color: #fff;
          background: orange;
          opacity: 1;
          bottom: 10%;
          box-shadow: 0 0 25px rgb(144, 49, 5);
        }
      }
      &:hover .btn-cart {
        bottom: 10%;
        opacity: 1;
        &:hover {
          box-shadow: 0 0 15px rgb(138, 42, 4);
        }
      }
    }
  }
  .card-content {
    height: 100px;
    .card-title {
      font-weight: bold;
      padding-top: 5px;
    }

    .price {
      font-weight: bold;
      color: rgb(226, 90, 49);
      margin-top: 5px;
      &::before {
        content: "$";
      }
    }
  }
}
