@import '../../layouts/App.scss';

.ProductCard {
  width: 240px;
  height: 300px;
  box-shadow: 1px 1px 5px rgb(197, 191, 191);
  padding: 10px;
  border-radius: 5px;
  .card-image {
    .card-image-wrap {
      position: relative;
      img {
        top: 10px;
        border-radius: 5px;
        margin: 0 auto;
        width: 220px;
        height: 230px;
        background-position: center;
        background-size: cover;
        transition: 0.3s ease;
        &:hover {
          opacity: 0.7;
        }
      }
      .btn-cart {
        position: absolute;
        opacity: 0;
        text-align: center;
        padding: 5px;
        width: 100px;
        border: 2px solid orange;
        cursor: pointer;
        color: orange;
        bottom: 0;
        left: 50%;
        border-radius: 9999px;
        transform: translate(-50%, -50%);
        transition: 0.5s ease;
        // box-shadow: 0 0 15px rgb(138, 42, 4);
        background: rgba(0, 0, 0, 0.523);
        &.active {
          color: #fff;
          background: orange;
          opacity: 1;
          bottom: 10%;
          box-shadow: 0 0 15px rgb(165, 57, 8);
        }
      }
      &:hover .btn-cart {
        bottom: 10%;
        opacity: 1;
      }
    }
  }
  .card-content {
    height: 50px;
    .card-title {
      font-weight: bold;
    }
    .price {
      font-weight: bold;
      color: rgb(226, 90, 49);
      &::before {
        content: '$';
      }
    }
  }
}
